.issue {
  border: solid 1px grey;
  margin: 1px;
  display: flex;
  flex-direction: column;
}

.issue-main {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
}

.issue-main:hover {
  cursor: pointer;
  background-color: grey;
}

.issue-state {
  border: solid 1px grey;
  /* margin-right: 10px; */
  max-width: 50px;
  min-width: 50px;
  color: white;
}

.issue-state--open {
  background-color: green;
}

.issue-state--closed {
  background-color: red;
}
